
.navbar {
  background: rgba(255, 254, 254, 0.18);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(14px);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

.navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  flex-shrink: 0;
}

.navbar-brand h2 {
  margin: 0;
  font-size: 1.5rem;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, #f14d4d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: center;
  margin-bottom: 0;
  color: rgb(248, 41, 41);
}


.navbar-links {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.nav-link {
  background-color: rgba(255, 255, 255, 0.2);
  color: linear-gradient(90deg, rgb(236, 226, 226) 0%, #f14d4d 100%);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-size: 0.95rem;
  border: none;
  transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: linear-gradient(90deg, rgb(0, 0, 0) 0%, #f14d4d 100%);
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-actions {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
}

.nav-login-btn {
  background-color: rgb(248, 248, 248);
  color: #ff5252;
  padding: 0.6rem 1.8rem;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-login-btn:hover {
  background-color: #f5f5f5;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
}

.nav-admin-btn {
  background-color: rgba(18, 14, 14, 0.2);
  color: rgb(14, 11, 11);
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid white;
  transition: all 0.3s ease;
}

.nav-admin-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-logout-btn {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(6, 6, 6);
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid white;
  transition: all 0.3s ease;
}

.nav-logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar-links {
    width: 100%;
    justify-content: center;
  }

  .navbar-actions {
    width: 100%;
    justify-content: center;
  }

  .navbar-brand h2 {
    font-size: 1.25rem;
  }
}
